* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

.upperpart {
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flexbox;
    height: 575px;
}

.headerlogo {
    margin-top: 7px;
    margin-left: 200px;
}

.headerlink {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-top: -57px;
    gap: 24px;
}

.middle {
    margin-top: 100px;
    margin-left: 200px;
}

.link1 {
    display: flex;
    color: #C4C7CD;
    margin-left: auto;
    text-decoration: none;
}

.link2 {
    color: #C4C7CD;
    text-decoration: none;
}

.link3 {
    color: #C4C7CD;
    margin-right: 200px;
    text-decoration: none;
}

#wwwheading {
    display: flex;
    justify-content: center;
    margin-right: 960px;
}

.middlepara {
    display: flex;
    justify-content: center;
    margin-left: -725px;
    margin-top: 20px;
    color: #C4C7CD;
}

.pformiddleimg {
    display: flex;
    justify-content: center;
}

.middleimage {
    display: flex;
    justify-content: center;
    margin-left: 420px;
    margin-top: -236px;
}

.parentforbutton {
    display: flex;
    justify-content: center;
    margin-left: -1160px;
}

#middlebutton {
    display: flex;
    width: fit-content;
    background-color: #3882f6;
    text-decoration: none;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 7px;
    font-weight: bold;
}

.middlepart {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.middleparth {
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin: 35px;
    font-size: 36px;
}

.middleimages {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.middleurlimage {
    border-radius: 25px;
    border: 4px solid #3882f6;
}

.middlehttpimage {
    border-radius: 25px;
    border: 4px solid #3882f6;
}

.middlehtmlimage {
    border-radius: 25px;
    border: 4px solid #3882f6;
}

.tunderimages {
    display: flex;
    justify-content: center;
}

.urlheading {
    color: grey;
    padding-top: 10px;
    text-align: center;
}

.httpheading {
    color: grey;
    padding-top: 10px;
    padding-left: 320px;
    padding-right: 310px;
    text-align: center;
}

.htmlheading {
    color: grey;
    padding-top: 10px;
    text-align: center;
}

.textunder {
    display: flex;
    justify-content: center;
}

.firstparaunder {
    color: grey;
    padding-top: 7px;
}

.secondparaunder {
    color: grey;
    padding-top: 7px;
    padding-left: 76px;
    padding-right: 64px;
}


.thirdparaunder {
    color: grey;
    padding-top: 7px;
}

.lowermiddlepart {
    display: flexbox;
    background-color: #e5e7eb;
    height: 430px;
    margin-top: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lowermiddletext {
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding-top: 140px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.founder {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-left: 700px;
    color: #1f2937;
    font-weight: bold;
    font-size: medium;
}

.lowerpart {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 10px;
    padding: 50px;
}

.donatepara {
    font-weight: lighter;
    font-size: small;
    padding-left: -20px;
}

.donate {
    font-size: large;
}

#donatelink {
    display: flex;
    justify-content: center;
}

#lowerlink {
    border: #C4C7CD;
    text-decoration: none;
    background-color: #3882f6;
    border: 3px solid white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: -20px;
    border-radius: 8px;
    margin-left: 60px;
    margin-top: 17px;
    text-align: center;
    font-weight: bold;
}

.last {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    margin-top: 120px;
}

.credits {
    padding: 40px;
}